* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
}

body{
    color: black;
}



.titulo {
    color: orange;
}

.titulo2 {
    color: aqua;
}

#tituloId{
    color: green;
}

main img{
    width: 100%;
}

.article {
    width: 20%;
    padding: 0px 15px 15px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

}

.espacamento-article{
    padding-bottom: 20px;
}
.espacamento-hr{
    padding-bottom: 25px;
}
.logotipo {
    width: 100%;
}

/* .navigation a {
    text-transform: uppercase;
    font-weight: bold;
    color: black;
} */
.article-date{
    opacity: .4;
    font-size: 14px;

}

a{
    color: red;
    text-decoration: none;
}

a[target="_blank"]{
    color: blue;
}

button:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}

a[target="_blank"]::after{
    content: "(Abre em nova aba)";
}

.header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
}

.form-nav-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
}

.navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32;
}

.article-first-line {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10px;
}
.article-second-line {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 10px;
}

hr{
    opacity: 0.5;
}

.article-title{
    font-size: 18;
    text-align: left;
}
.frame-button{
    text-align: right;
    margin-right: 380px;
}
.button-mais-noticias{
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 8px 15px;
    border-radius: 5px;
    margin-bottom: -5px;
    text-decoration: none;
    padding-right: 8px;
    -webkit-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    margin-top: 40px;
}
/* .article-box{
     display: flex;
     justify-content: center;
     align-items: center;
} */
